body, h1, h2, h3, h4, h5, h6, div, span, p, form, input {
  font-family: 'Open Sans', sans-serif;
  color: #454545;
}

.card-divider {
  background: #aca;
  border-bottom: 1px solid lightgray;
}

.card {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* why is this first selector needed? weird */
input[name='subject'], form input, form select, form textarea, form .button, .rounded {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.top-bar a {
    color: #222266;
    font-weight: bold;
}

.top-bar {
    box-shadow: 0 8px 10px -10px #2c2c2c;
}

p.lead {
    font-style: italic;
}

p.instructions {
    font-style: italic;
    font-size: 1.3rem;
}

#most-recent {
    font-size: .8rem;
}

.unread-message {
    font-weight: bold;
}