body, h1, h2, h3, h4, h5, h6, div, span, p, form, input {
  font-family: 'Open Sans', sans-serif;
  color: #454545;
}

body {
    background-color: #eee;
}

.card-divider {
  background: #aca;
  border-bottom: 1px solid lightgray;
}

.card {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#inbox {
    padding-left: 8px;
    border-left: 1px solid #116;
}

/* why is this first selector needed? weird */
input[name='subject'], form input, form select, form textarea, form .button, .rounded {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.top-bar a {
    color: white;
    font-weight: bold;
}

.top-bar {
    box-shadow: 0 8px 10px -10px #2c2c2c;
}

.top-bar ul, .top-bar li {
    background: none;
}

.top-bar {
    background: linear-gradient(#001, #116)
}

.callout.primary {
    background-color: #efefff;
    width: 80%;
    align: center;
}

p.lead {
    font-style: italic;
}

p.instructions {
    font-style: italic;
    font-size: 1.3rem;
}

#most-recent {
    font-size: .8rem;
}

.unread-message {
    font-weight: bold;
}