{% extends "message_center/base.html" %}

{% block content %}
<br/><br/><br/>
<div class="row" id="content">
    <div class="medium-8">
        <p>Thanks for checking out Message Central!</p>
        <p><a href="{% url 'login' %}">Click here</a> to log in.</p>
    </div>
</div>
{% endblock %}