{% extends 'message_center/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<br/>
<div class="grid-x align-center">
    <div class="callout large primary">
        <div class="row column text-center">
            <h2>Messages between you and {{ other_user.username }}</h2>
            <p class="lead">(<a href="{% url 'index' %}">back home</a>)</p>
        </div>
    </div>
</div>

<div class="grid-x align-center" id="content">

    <div class="medium-1">
        &nbsp;
    </div>

    <div class="medium-8 cell">
        {% for msg in msgs %}
        <div class="card{% if msg.sender == user %} by-me{% endif %}">
            <div class="card-divider message-header">
                <p>From {{ msg.sender }} <small>at {{ msg.created_at|date:'H:i:s m/d/y' }}</small></p>
            </div>
            <div class="card-section message-details">
                <h4 class="message-subject">{{ msg.subject }}</h4>
                <p class="message-body">{{ msg.body }}</p>
            </div>
        </div>
        {% endfor %}
        <hr/>
        <div>
            <form method="post" action="{% url 'conversation' other_user.id %}" id="new-message-form">
                {% csrf_token %}
                {{ form }}
                <input type="submit" id="send-new-message" class="button button-small button-primary" value="Send reply!">
            </form>
        </div>
    </div>

    <div class="medium-1">
        &nbsp;
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'message_center/reconnecting-websocket.min.js' %}"></script>

<script>
var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
var chatSocket = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + '/ws/');
// TODO can DRY some of this setup at least

$('#send-new-message').click(function(e) {
    e.preventDefault();
    try {
        var formArray = $('#new-message-form').serializeArray();
        formArray.push({ 'name': 'recipient', 'value': {{ other_user.id }} });
        var message = JSON.stringify(formArray);
        chatSocket.send(message);
        alert("Message sent!");
        location.reload();
    }
    catch(err) {
        alert("Something went wrong with your connection. Please refresh and try again.");
    }
    return false;
});

</script>
{% endblock %}
