<div class="top-bar">
    <div class="top-bar-left msg-ctr-top-left">
        <ul class="menu">
            <li class="menu-text"><a href="{% url 'index' %}">Message Central | {{ user.username }}</a></li>
        </ul>
    </div>
    <div class="top-bar-right mst-ctr-top-right">
        <ul class="menu">
            <li class="menu-text"><a href="{% url 'logout' %}">(logout)</a></li>
        </ul>
    </div>
</div>
