{% extends 'message_center/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<br/>
<div class="grid-x align-center">
    <div class="callout large primary">
        <div class="row column text-center">
            <h1>Welcome to Message Central, {{ user.username }}!</h1>
            <p class="lead">A non-cleverly-named sample application for the WayUp development team to pore over.</p>
        </div>
    </div>
</div>

<div class="grid-x align-center" id="content">

    <div class="medium-1">
        &nbsp;
    </div>

    <div class="medium-6 cell">
        <p class="instructions">Select a message from your inbox to display the details here. Click the sender's name to view the conversation.<br/></p>
        <div id="selected-message" class="selected-message card">
            <div class="card-divider message-header">
            </div>
            <div class="card-section message-details">
                <h4 class="message-subject"></h4>
                <p class="message-body"></p>
            </div>
        </div>
        <hr/>
        <h3>Or, send a new message:</h3>
        <div id="new-message">
            <form method="post" action="{% url 'index' %}" id="new-message-form">
                {% csrf_token %}
                {{ form }}
                <input id="send-new-message" type="submit" class="button button-small button-primary" value="Send message!">
            </form>
        </div>
    </div>

    <div class="medium-1">
        &nbsp;
    </div>

    <div class="medium-3 cell" data-sticky-container>
        <div class="sticky" data-sticky data-anchor="content" id="inbox">
            <h4>Inbox</h4>
            <ol id="inbox-list">
                {% for message in my_messages %}
                    {% include 'message_center/_sidebar_item.html' with message=message offset=0 %}
                {% endfor %}
            </ol>
            {% if not my_messages %}
                <p id="no-messages">Looks like you don't have any messages. Why don't you send some?</p>
            {% endif %}
            <hr/>
            <h4>Outbox</h4>
            <ol id="outbox-list">
                {% for message in sent_messages %}
                    {% include 'message_center/_sidebar_item.html' with message=message offset=my_messages|length %}
                {% endfor %}
            </ol>
        </div>
    </div>

</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'message_center/reconnecting-websocket.min.js' %}"></script>
<!-- ^ shim for getting around heroku's 60-second request cap -->

<script>
var jsonMessages = {{ json_messages|safe }};
var numNewMsgs = 0;

$('#selected-message').hide();

function updateTitle() {
    if (numNewMsgs === 0) {
        $('title').text('Home');
    } else {
        $('title').text('Home (' + numNewMsgs + ')');
    }
}

function selectMessage(idx) {
    if ($('#' + idx).parent().hasClass('unread-message')) {
        // if it's new
        $('#' + idx).parent().removeClass('unread-message');
        numNewMsgs--;
        updateTitle();
    }    
    $('#selected-message').show();
    var newMsg = jsonMessages[idx];
    if (typeof(newMsg) === "string") {
        newMsg = JSON.parse(newMsg);
    }
    if (newMsg === undefined) {
        return;
    }
    $('#selected-message .message-header').html('<p>From <a href="/conversation/' + newMsg.sender.id + '">' + newMsg.sender.name + "</a> <small>at " + newMsg.created_at + "</small></p>");
    //      ^    `conversation` URL is hard-coded FIXME
    $('#selected-message .message-subject').text(newMsg.subject);
    $('#selected-message .message-body').text(newMsg.body);
    if (newMsg.sender.id === {{ user.id }}) {
        $('#selected-message').attr('class', 'selected-message card by-me');
    } else {
        $('#selected-message').attr('class', 'selected-message card');
    }
}

function makeNewLi(newMsg) {
    newLi = '<li'
    if (newMsg.sender.name !== "{{ user.username }}") {
        newLi += ' class="unread-message"';
    }
    newLi += '><a id="' + thisId + '" onclick="selectMessage(this.id)">"' + newMsg.subject + '" from ' + newMsg.sender.name + '</a></li>';
    // this is the part that drives me craziest TODO FIXME     ^^
    return newLi;
}

function addNewMsg(newMsg) {
    $('#no-messages').hide();
    jsonMessages.push(newMsg);
    if (typeof(newMsg) === "string") {
        newMsg = JSON.parse(newMsg);
    }
    thisId = jsonMessages.length-1
    if (newMsg.sender.name !== "{{ user.username }}") {
        numNewMsgs++;
    }
    newLi = makeNewLi(newMsg);
    $('#inbox-list').prepend(newLi);
    updateTitle();
}

var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
var chatSocket = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + '/ws/');
// TODO use django url?

chatSocket.onmessage = function(e) {
    var data = JSON.parse(e.data);
    var message = data['message'];
    addNewMsg(message);
};

chatSocket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
};

$('#send-new-message').click(function(e) {
    e.preventDefault();
    try {
        var message = JSON.stringify($('#new-message-form').serializeArray());
        chatSocket.send(message);
        alert("Message sent!");
        $('#id_subject').val("[no subject]");
        $('#id_body').val("");
    }
    catch(err) {
        alert("Something went wrong with your connection. Please refresh and try again.");
    }
    return false;
});
</script>
{% endblock %}
